<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-2" href="{% url 'index' %}">Auto Car</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Out of Focus <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'speed' %}">Validation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'showmap' %}">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'eyetracking' %}">Add value</a>
            </li>

        </ul>
    </div>
</nav>