{% extends 'map/base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row1" style="height: 500px;">
        <div id="mapdiv"></div>
    </div>
</div>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>

    var chart = null;
    var defaultData = [];
    var endpoint = '/api/showmap/data/';
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            defaultData = data;
            console.log(defaultData)
            setChart(defaultData);
        },
        error: function (error_data) {
            console.log("error");
            console.log(error_data)
        }
    });

    function setChart(data) {

        map = new OpenLayers.Map("mapdiv");
        map.addLayer(new OpenLayers.Layer.OSM());

        var aarhusLat = new OpenLayers.LonLat(10.203921, 56.162939)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );

        var zoom = 16;

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        markers.addMarker(new OpenLayers.Marker(aarhusLat));

             let gpsx = [];
             let gpsy = [];

            for(let i = 0; i< data.length; i++){
                 gpsx.push(data[i].lat);
                 data_time.push(data[i].lon);

            }

        /* console.log(locationData.gpsx[0]); */

            var aarhusLat2 = new OpenLayers.LonLat(gpsy, gpsx)
                .transform(
                    new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                    map.getProjectionObject() // to Spherical Mercator Projection
                );
            markers.addMarker(new OpenLayers.Marker(aarhusLat2));


            map.setCenter(aarhusLat, zoom);


    }


</script>
{% endblock %}
